# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# steam webAPI key
set steam_webApiKey 1FD8CE3F913C98BFB4C5DCF811BA1809

################################################## Resources ################################################################
# FiveM default
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start playernames
sv_scriptHookAllowed 1

start async

# MySQL Database
set mysql_connection_string "server=164.132.201.141;database=Alexis3572fivem;userid=Alexis3572fivem;password=TUPrBgYz4ru6zWrt"
start mysql-async

# Other resources
start godlypowers

# change this
rcon_password ogpPassword
sv_hostname "My new FXServer!"

# A comma-separated list of tags for your server.
sets tags "Work in progress"

# nested configs!
# exec server_internal.cfg

# loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars for use from script
# set temp_convar "hey Nexus!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
sv_authMaxVariance 1
sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000105c97aca group.admin # add the identifier.steam:HEX to the group "admin"

# remove the # to hide player endpoints in external log output
sv_endpointprivacy true

# server slots limit (géré par nexus)
sv_maxclients 30

# license key for server (https://keymaster.fivem.net)
sv_licenseKey hcnmnbjzr7yotyhtix0sviw9rjh8um7m
